/**************** GENERIC COMPOSANTS ****************/

.left
{
	text-align: left;
}

/* Used to set width cell in table as narrower as possible. */
.narrower
{
	width: 10px;
}

.block
{
	display: block;
}

.inline
{
	display: inline;
}

.center
{
	text-align: center;
}

.auto_center
{
    margin: 0px auto 0px auto;
}

.right
{
    text-align: right;
}

.bold
{
    font-weight: bold;
}

.decoration_none
{
	list-style-type: none;
}

.italic
{
    font-style: italic;
}

.unresizable
{
    resize: none;
}

.shift_right
{
    /* Useful with second button */
    display:inline-block;
    float:right;
}

.without
{
    list-style-type:none;
}


ol.french_enum
{
	counter-reset: french_enum_counter;
}

ol.french_enum li
{
	list-style-type: none;
	counter-increment: french_enum_counter;
}

ol.french_enum li:before
{
	margin-left: -18px;
	content: counter(french_enum_counter) ")";
}



/***** GENERIC COLUMNS *****/

.row
{
    display: block;
}

.row:after
{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.column 
{
    display: inline;
    float: left;
}

/***** GENERICS *****/
.panel {
    background-color: #ececec;
    border-radius: 35px;
    margin: 0 0 15px;
    padding: 20px;
    width: auto;
}
