/**************** GENERIC PAGE CHARTER ****************/
* 
{
    margin: 0px;
    padding: 0px;
    color: #2e2d30;
    font-family: Arial, Helvetica, sans-serif;
}

p
{
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 140%;
}

hr
{
    border: solid #888 1px;
    margin: 30px auto;
    padding: 0px 20px;
}


ul, ol 
{
    margin-left:30px;
}


li
{
	line-height: 140%;
}

a,
a span
{
	color: #003366;
	text-decoration: none;
	font-weight: bold;
}

a:hover,
a:hover span,
a:focus,
a:focus span,
a:active,
a:active span
{
	color : #129af0;
}

/***** CHARTER *****/
#charter
{
    width: 100%;
    font-size: 1em;
    background: #e9edf0 none repeat scroll 0 0;
}

/***** CHARTER HEADER *****/
#charter #header_container
{
    padding-top: 5px;
    width: 970px;
    margin: 0 auto;
    position: relative;
    border: 0px solid blue;
    background: #fff;
}

/***** CHARTER BODY *****/
#charter #body_container
{
    position: relative;
    padding: 5px 0px 25px 0px;
    margin: 0px auto 5px auto;
    width: 970px;
    min-height: 500px;
    background: #fff;
}

/***** CHARTER MENU *****/
#charter #body_container #menu_container
{
    padding: 30px 10px 0 0;
}

.submenu
{
    margin: 10px 10px 10px 10px;
    width: 160px;
    background-color: #ECECEC;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 50px;
}

.submenu a.active {
    color:white;
    text-decoration:none;
    background-color:#333;
}

.submenu a {
    color:#333;
    padding:3px;
    display:block;
    text-decoration:none;
}

.submenu a:hover {
    color:white;
    text-decoration:none;
    background-color:#333;
}

.submenu ul {
    margin-left:0px;
}

.submenu li {
    list-style-type:none;
}

.submenu_content {
    margin-left: 50px;
    width: 650px;
}


/***** CHARTER CONTENT *****/
#charter #body_container #content_container
{
    margin: 10px auto 20px auto;
    width: 750px;
    border: 0px none lightgreen;
}

/***** CHARTER FOOTER *****/
#charter #footer_container
{
	position: relative;
	width: 970px;
	height: 25px;
	padding-top: 5px;
	margin: 0 auto;
	clear: both;
	border: 0px solid red;
	text-align: center;
	font-size: .8rem;
}

#footer_menu
{
	margin: 0;
	position: relative;
	height : 40px;
	width: 970px;
	margin: 0 auto;
	clear: both;
	background-color:#FFFFFF;
}

#footer_menu  .button
{
	display:inline;
	font-size: 20px;
	float : left;
	height: 20px;
	background-color:#5684B9;
	text-align: center;
	margin:  5px;
	width: 23.71%;
	border-style: 3px solid #73AD21;
	padding-top: 8px;
	padding-bottom: 8px;
}

#footer_menu .button a
{
	display:block;
	width:100%;
	height : 100% ;
	text-decoration:none;
}

#footer_menu .button a:hover
{
	color:white;
	background-color : #0000ff;
	text-decoration:none;
}

/*********************/
table.table_classic
{
    border:0px;
    width:100%;
    margin: 5px;
    border-collapse: collapse;
}

table.table_classic > tr > th,
table.table_classic > thead > tr > th
{
    background-color:#ECECEC;
    border:1px solid #DCDCDC;
    margin: 5px;
    padding: 5px;
}

table.table_classic > tr > td,
table.table_classic > tbody > tr > td,
table.table_classic > tfoot > tr > td
{
    border:1px solid #ECECEC;
    margin: 5px;
    padding: 5px;
}

/***********************/
.panel_menu
{
    background-color: #cdffcc;
    border-radius: 20px;
    margin: 0 0 15px;
    padding: 10px;
    width: auto;
    border: 1px solid black;
}

.panel_menu a
{
	color: #003366;
	text-decoration: none;
	font-weight: normal;
}

.panel_menu a:hover,
.panel_menu a:focus,
.panel_menu a:active
{
	color : #129af0;
	text-decoration: none;
	font-weight: normal;
}

.panel_secondaire
{
    background-color: #bae0e3;
    border-radius: 0px;
    margin: 0 0 15px;
    padding: 10px;
    width: auto;
    border: 1px solid black;
}

.panel_ideal_possible
{
    background-color: #99ccff;
    border-radius: 0px;
    margin: 0 0 15px;
    padding: 10px;
    width: auto;
    border: 1px solid black;
}


ul.puce_fleche li
{
    list-style-type: none;
}
ul.puce_fleche li:before
{
    content: "⇒ "; 
}

.rs_name::first-letter
{
    /*color: red;*/
	font-style: italic;
	font-weight: bold;
}

.rs_name
{
	display: inline-block;
	font-style: italic;
	text-transform: capitalize;
	font-weight: bold;
}

.editorial_content
{
	padding: 5px 85px 0 110px;
}

.editorial_content h1
{
	margin-bottom: 20px;
	text-align: center;
}

.editorial_content h2
{
	margin-top: 15px;
}

/*
a[href^="mailto:"]:before
{ 
	content: "✉";
	margin-right: 10px;
	vertical-align: text-top;
	color: black;
  	font-size: 18px;
  	font-weight: normal;
}
*/

/* --------------------------- */
/* Affichette */
.flyer
{
	width: 150px;
	height: 160px;
	border: solid #888 1px;
	box-shadow: 6px 6px 6px black;
    margin: 5px 5px;
    text-align: center;
    vertical-align: middle;
    padding: 25px 5px 0px 5px;
	line-height: 30px;
}

.flyer:hover
{
}


/* --------------------------- */
@media screen and (max-width: 840px)
{
	#charter #header_container
    {
    }

	#charter #body_container
    {
    }

	#footer_menu
    {
	   width: 670px;
    }

	#charter #footer_container
   {
      width:670px;
   }
}
